################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ET/.vs/ET/FileContentIndex/0d8b0e53-187a-4b6e-96d2-8c786a7a2c9c.vsidx
/ET/.vs/ET/FileContentIndex/30cf37fa-36ab-47d5-8d2e-7b4b3bfcc2ab.vsidx
/ET/.vs/ET/FileContentIndex/de56418d-ea20-4b8e-aa54-f11ad97ec99a.vsidx
/ET/.vs/ET/FileContentIndex/f6c4b07b-2e77-4586-8760-93352ff5e276.vsidx
